.frame {
    margin-top: 190px;
}

.frame__app {
    display: flex;
    justify-content: space-between;
}

.frame__app__text h2 {
    margin-top: 100px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    width: 500px;
}

.frame__app__text p {
    padding-left: 40px;
    width: 600px;
    font-size: 20px;
    padding-top: 30px;
    color: #777777;
}